#controls
    button#revert.icon-caret-left
    button#advance.icon-caret-right
    #current-commit Inital commit
ol#code 
    for line in lines
        li= line

script(src = "/js/jquery-1.8.1.min.js")
script(src = "/js/underscore-min.js")
script(src = "/js/backbone-min.js")
script(src = "/js/templates.js")
script(src = "/js/app_.js")
script(src = "/js/github-history.js")