#splash.row-fluid
    .span4.offset4
        #enter-username
            input#username(type = "text", placeholder = "GitHub Username", autocomplete = "off")
        #select-repository
        #select-file
